
.form{
    width:50%;
    text-align: start;
  }
img{
  width:200px ;
}
  label{
    display:block;
    color:#4d4641;
    margin:16px 0 3px;
  }
  fieldset label{
    display:inline-block;
    font-size:85%;
  }
  
  input[type=text],
  input[type=email],
  input[type=tel],
  textarea,
  select{
    width:100%;
    padding:5px;
    box-sizing:border-box;
    background-color:#cccac3;
    border: solid 1px #cfcfcf;
  }
  textarea{
    resize: vertical;
    min-height: 70px;
  }
  fieldset{
    border:none;
    margin:20px 0 ;
    padding:10px 0;
    border-bottom: 1px solid tan;
  }
  legend{
    color:white;
    background-color:tan;
    display:block;
    width:100%;
    padding:3px;
  }

  .practice {
    margin-top: 50px;
    color:white;
    background-color:tan;
    display:block;
    width:40%;
    padding:5px;
    text-decoration: none;
  }

  /* BUTTONS */
  input[type=submit]{
    background-color:forestgreen;
    color:white;
    padding: 6px 20px;
    border-radius:10px;

  }
  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
  
  
 
 
  